.hover-menu {
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 4px 0;
  position: relative;
  z-index: 10;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

.menu-item::after {
  content: attr(data-label);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 11px;
  color: var(--ui-fg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear, top 0.2s linear;
  top: 115%;
  white-space: nowrap;
  text-shadow: var(--ui-tooltip-shadow);
  pointer-events: none;
}

.menu-icon {
  width: 24px;
  height: 24px;
  color: var(--ui-fg);
  transition: transform 0.2s linear, color 0.2s linear;
}

.menu-icon path {
  fill: currentColor;
  transition: fill 0.2s linear;
}

.menu-item:hover > .menu-icon,
.menu-item:focus-visible > .menu-icon {
  transform: scale(1.2);
  color: var(--ui-hover-accent);
}

.menu-item:hover::after,
.menu-item:focus-visible::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}
