.hover-menu {
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 4px 0;
  position: relative;
  z-index: 10;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

.menu-item::after {
  content: attr(data-label);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 11px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
  white-space: nowrap;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.menu-icon {
  width: 24px;
  height: 24px;
  transition: 0.2s linear;
}

.menu-icon path {
  fill: white;
  transition: 0.2s linear;
}

.menu-item:hover > .menu-icon {
  transform: scale(1.2);
}

.menu-item:hover > .menu-icon path {
  fill: rgb(177, 139, 189);
}

.menu-item:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}
